<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quinta</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Ejercicio: </h1>
  <h2>Crear formulario que permita guardar: 
    rut, nombre, dirección, correo, 
    telefono, año nacimiento</h2>
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="text" [(ngModel)]="persona.rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="persona.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="persona.direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="persona.correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="text" [(ngModel)]="persona.telefono"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label position="floating">Año Nacimiento</ion-label>
      <ion-input type="text" [(ngModel)]="persona.anioNacimiento"></ion-input>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button><ion-icon name="menu"></ion-icon></ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button (click)="agregar()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="leer()"><ion-icon name="search-outline"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="eliminar()"><ion-icon name="remove-circle-outline"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="listar()"><ion-icon name="list-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="top">
        <ion-fab-button (click)="limpiar()"><ion-icon name="trash-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
