<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>uno</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button>Aceptar</ion-button>
  <ion-button expand="block">Aceptar</ion-button>
  <ion-button fill="outline" shape="round">Aceptar</ion-button>
  <br>
  <ion-button size="small">Aceptar</ion-button>
  <ion-button size="large">Aceptar</ion-button>
<!-- https://ionic.io/ionicons -->
  <ion-button>
    <ion-icon slot="end" name="add"></ion-icon>
    Sumar
  </ion-button>
  <ion-button>
    Restar
    <ion-icon slot="start" name="remove-circle"></ion-icon>
  </ion-button>

  <ion-button color="success">Aceptar</ion-button>
  <ion-button color="secondary">Aceptar</ion-button>
  <ion-button color="warning">Aceptar</ion-button>
  <ion-button color="dark">Aceptar</ion-button>
  <ion-button color="danger">Aceptar</ion-button>
  <ion-button color="light">Aceptar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>