<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cuarta</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  Ejercicio 1:
  Agregar input para el id y valor. Almacenar en el Storage
  <br>
  id:
  <ion-input type="number" [(ngModel)]="id"></ion-input><br>
  Valor
  <ion-input type="text" placeholder="Ingrese valor" [(ngModel)]="valor"></ion-input>



<ion-button (click)="agregar()">
  <ion-icon slot="icon-only" name="add"></ion-icon>
</ion-button>
</ion-content>
