<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input type="number" [(ngModel)]="numero1"><br>
  <ion-button (click)="abrirSegundaPagina()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Uso de método navigate
  </ion-button>
  <ion-button (click)="abrirSegundaPagina2()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Uso de navigate by URL
  </ion-button>
  <ion-button (click)="abrirSegundaPagina3()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Enviar valor por parametro
  </ion-button>
  <br>
  <a href="segunda/1500">Valor enviado por la url</a>

  <h1>Listado de usuarios</h1>
  <a href="tercera">Ver listado de usuarios</a>
</ion-content>
