<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Menú principal</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button expand="block" shape="round" [routerLink]="['/uno']">
        Ver botones
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" shape="round" [routerLink]="['/dos']">
        Formulario en blanco
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" shape="round" [routerLink]="['/tres']">
        inputs disponibles
      </ion-button>
    </ion-item>
    <ion-item>
      <p><a href="/cuatro">Ir a pagina de tarjetas (card)</a></p>
    </ion-item>


  </ion-list>


</ion-content>
